:root {
  --dark-shade0: #141514;
  
  --dark-shade7: #FBFBFB;
  
  --dark-accent0: #F25244;
  
  --dark-accent1: #A0FF33;
  
  --dark-accent2: #0EA2C9;
  
  --dark-accent3: #F48D4F;
  
  --dark-accent4: #EDA622;
  
  --dark-accent5: #C4C7C4;
  
  --dark-accent6: #EDA622;
  
  --dark-accent7: #E8B456;
  
  --dark-shade1: #353635;
  
  --dark-shade2: #565756;
  
  --dark-shade3: #777877;
  
  --dark-shade4: #989898;
  
  --dark-shade5: #B9B9B9;
  
  --dark-shade6: #DADADA;
}