:root {
  --dark-shade0: rgb(20, 21, 20);
  --dark-shade0-r: 20;
  --dark-shade0-g: 21;
  --dark-shade0-b: 20;
  
  --dark-shade7: rgb(251, 251, 251);
  --dark-shade7-r: 251;
  --dark-shade7-g: 251;
  --dark-shade7-b: 251;
  
  --dark-accent0: rgb(242, 82, 68);
  --dark-accent0-r: 242;
  --dark-accent0-g: 82;
  --dark-accent0-b: 68;
  
  --dark-accent1: rgb(160, 255, 51);
  --dark-accent1-r: 160;
  --dark-accent1-g: 255;
  --dark-accent1-b: 51;
  
  --dark-accent2: rgb(14, 162, 201);
  --dark-accent2-r: 14;
  --dark-accent2-g: 162;
  --dark-accent2-b: 201;
  
  --dark-accent3: rgb(244, 141, 79);
  --dark-accent3-r: 244;
  --dark-accent3-g: 141;
  --dark-accent3-b: 79;
  
  --dark-accent4: rgb(237, 166, 34);
  --dark-accent4-r: 237;
  --dark-accent4-g: 166;
  --dark-accent4-b: 34;
  
  --dark-accent5: rgb(196, 199, 196);
  --dark-accent5-r: 196;
  --dark-accent5-g: 199;
  --dark-accent5-b: 196;
  
  --dark-accent6: rgb(237, 166, 34);
  --dark-accent6-r: 237;
  --dark-accent6-g: 166;
  --dark-accent6-b: 34;
  
  --dark-accent7: rgb(232, 180, 86);
  --dark-accent7-r: 232;
  --dark-accent7-g: 180;
  --dark-accent7-b: 86;
  
  --dark-shade1: rgb(53, 54, 53);
  --dark-shade1-r: 53;
  --dark-shade1-g: 54;
  --dark-shade1-b: 53;
  
  --dark-shade2: rgb(86, 87, 86);
  --dark-shade2-r: 86;
  --dark-shade2-g: 87;
  --dark-shade2-b: 86;
  
  --dark-shade3: rgb(119, 120, 119);
  --dark-shade3-r: 119;
  --dark-shade3-g: 120;
  --dark-shade3-b: 119;
  
  --dark-shade4: rgb(152, 152, 152);
  --dark-shade4-r: 152;
  --dark-shade4-g: 152;
  --dark-shade4-b: 152;
  
  --dark-shade5: rgb(185, 185, 185);
  --dark-shade5-r: 185;
  --dark-shade5-g: 185;
  --dark-shade5-b: 185;
  
  --dark-shade6: rgb(218, 218, 218);
  --dark-shade6-r: 218;
  --dark-shade6-g: 218;
  --dark-shade6-b: 218;
}